<h1 style="background-color: rgb(144, 134, 231);; display: flex; justify-content: center;">Local Storage
  in Angular 17
</h1>

<div style="display: flex; ">
  <button (click)="saveData()">Save Data</button>
  <!-- <button (click)="getData()">Get Data</button> -->
  <button (click)="removeData()">Remove Data</button>
  <button (click)="clearData()">Clear All Data</button>
</div>
<div style="background-color: black; color: #fff;">please open inspect and application section for session storage</div>

<div style="padding: 10px;">{{'1:' + data1}}</div>
<div style="padding: 10px;">{{'2:' + data2}}</div>