.session button {

    background-color: rgb(134, 231, 166);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.local button {
    background-color: rgb(144, 134, 231);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

.note {
    background-color: black;
    color: #fff;
}